*{
	margin: 0;
}

.images
{
	margin: 30px;
}

.images img
{
	width: 250px;
	height: 250px;
	border: red   solid;
}

.images img:hover, .main img:hover
{
	cursor: pointer;
	border: green 5px   solid;
	scale: 1.1;
}

.main
{
	margin: 30px;
	text-align: center;

}

.main img
{
	width: 800px;
	height: 600px;
	border: red   solid;
}